[submodule "3rdparty/asymptote_figures"]
	path = 3rdparty/asymptote_figures
	url = https://github.com/ryanmaguire/asymptote_figures.git
[submodule "3rdparty/tikz_figures"]
	path = 3rdparty/tikz_figures
	url = https://github.com/ryanmaguire/tikz_figures.git
